@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>General Store</h1>
    <p class="lead">General Store is a simple API that allows the user to store, edit and delete information about any product they wish to have.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            To view our product click the button below.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Products", "Index", "Product")</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Click the button below to get more information on the general store.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Learn More About Us", "About")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Click the button below to reach the owners of the gerneral store with your comments or concerns.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>